<nav class="navbar navbar-expand-lg navbar_container sticky-top">
  <div class="container">
    <a class="navbar-brand text-white" href="/">Thapa Technical</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <div class="d-flex flex-column">
            <span class="navbar-toggler-icon bg-white" style="margin: 1px 0; width: 30px; height: 5px; border-radius: 5px;"></span>
            <span class="navbar-toggler-icon bg-white" style="margin: 1px 0; width: 30px; height: 5px; border-radius: 5px;"></span>
            <span class="navbar-toggler-icon bg-white" style="margin: 1px 0; width: 30px; height: 5px; border-radius: 5px;"></span>
        </div>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/register">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="hero_section p-5 text-white text-center">
    <div class="hero_section_top m-4 fs-1">
        <p>Welcome to MERN BackEnd Course</p>
    </div>
    <div class="hero_section_bottom fs-6 mb-6">
        <p>The Best Course on Youtube</p>
    </div>
</div>
